@import './components/home/header.sass'

.products-section
    padding: 100px 0

    .section-title
        font-size: 30px
        font-weight: 700
        text-align: center
        color: $primary
        margin-bottom: 50px

    .products-row
        display: flex
        flex-wrap: wrap
        gap: 25px

.carousel-section
    margin-bottom: 50px
    padding-top: 50px // Adds space between the carousel and the navbar

    .carousel-caption
        background-color: rgba(0, 0, 0, 0.5)
        padding: 15px
        border-radius: 10px

    .carousel-image
        border-radius: 10px
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) // Adds subtle shadow
        object-fit: cover // Ensures the image fits well without stretching
        width: 300px
        height: 400px

    // Adjust spacing on smaller screens
    @media (max-width: 768px)
        .carousel-section
            padding-top: 20px
        .carousel-caption
            font-size: 14px // Smaller font size on mobile
