@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacquard+24&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
}

.btn {
  padding: 10px 30px;
  border-radius: 300px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
@media (max-width: 600px) {
  .btn {
    padding: 5px 15px;
  }
}

.btn-primary {
  background: #17202A;
  color: #fff;
}
.btn-primary:hover {
  background: #050709;
}

.btn-outlined {
  border: 2px solid #17202A;
  background: #fff;
  color: #17202A;
}
.btn-outlined:hover {
  background: #17202A;
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  background: #fff;
  padding: 40px 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  color: #333;
  border-radius: 0 0 10px 10px;
}
.page-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 700;
}
.page-header .cart-amount {
  font-size: 1.5rem;
  font-weight: 400;
  color: #555;
}

.menu {
  background: #17202A;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.logo {
  height: 46px;
  margin-top: 7px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 30px;
}
@media (max-width: 600px) {
  ul {
    flex-direction: column;
    gap: 10px;
  }
}
ul li a {
  color: #fff;
  height: 46px;
  width: 46px;
  font-size: 26px;
  background: #273746;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  position: relative;
}
ul li a .info-count {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(20%, -20%);
}
ul li a:hover {
  background: #fff;
  color: #17202A;
}

.home-header {
  background: linear-gradient(to bottom, #17202A, #2C3E50);
  padding: 100px 25px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 30% 30%;
}
.home-header .home-header-text {
  text-align: center;
  color: #fff;
}
.home-header .home-header-text .title {
  font-size: 50px;
  font-weight: 700;
}
.home-header .home-header-text .title .tagline {
  font-size: 20px;
  font-weight: 300;
}
.home-header .home-header-search {
  margin-top: 20px;
}
.home-header .home-header-search input {
  width: 600px;
  max-width: 100%;
  border-radius: 300px;
  padding: 15px 20px;
  text-align: center;
  border: 2x solid #17202A;
}
.home-header .home-header-search inputfocus {
  outline: none;
}

.products-section {
  padding: 100px 0;
}
.products-section .section-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #17202A;
  margin-bottom: 50px;
}
.products-section .products-row {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.login-page {
  min-height: 100vh;
  background: rgba(228, 255, 253, 0.7960784314);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .login-form-box {
  background: #fff;
  border-radius: 50px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 100%;
}
@media (max-width: 600px) {
  .login-page .login-form-box {
    width: 100%;
    padding: 15px;
  }
}
.login-page .login-form-box .login-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 30px;
  color: #17202A;
}
@media (max-width: 600px) {
  .login-page .login-form-box .login-title {
    font-size: 20px;
  }
}
.login-page .login-form-box .field {
  margin-bottom: 20px;
}
.login-page .login-form-box .field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 300px;
  outline: none;
  transition: 0.3s;
}
.login-page .login-form-box .field input:focus {
  border-color: #17202A;
}
.login-page .login-form-box .field .has-error {
  border-color: red;
}

.field-error {
  color: red;
  margin-top: 2px;
  font-size: 14px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  font-weight: 200;
  text-transform: capitalize;
}
@media (max-width: 600px) {
  .field-error {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.account-page {
  padding: 70px 100px;
}

.product-page {
  padding: 50px 15px;
}
.product-page .product-page-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.product-page .product-page-row .product-page-image {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 8px;
  background: #fff;
}
.product-page .product-page-row .product-page-details {
  flex: 1;
  max-width: 50%;
}
.product-page .product-page-row .product-page-details .p-title {
  color: #17202A;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
}
.product-page .product-page-row .product-page-details .p-title::after {
  content: "";
  position: absolute;
  width: 200px;
  left: 0;
  bottom: -2px;
  border-bottom: 2px solid #260064;
}
.product-page .product-page-row .product-page-details .p-price {
  color: #0c5a61;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.product-page .product-page-row .product-page-details .p-category {
  font-weight: 200;
  color: #0c5a61;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 16px;
}
.product-page .product-page-row .product-page-details .p-description {
  color: #0c5a61;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.product-page .product-page-row .product-page-details .p-form {
  margin-bottom: 20px;
}
.product-page .product-page-row .product-page-details .p-form label {
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.product-page .product-page-row .product-page-details .p-form .p-colors select {
  min-width: 200px;
  padding: 5px 20px;
  height: 40px;
  border-radius: 200px;
  text-align: center;
  background: #fff;
  border: 1px solid #0c5a61;
  color: #17202A;
  font-weight: 700;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.product-page .product-page-row .product-page-details .p-form .p-quantity input {
  min-width: 200px;
  padding: 5px 20px;
  height: 40px;
  border-radius: 200px;
  text-align: center;
  background: #fff;
  border: 1px solid #0c5a61;
  color: #17202A;
  font-weight: 700;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.product-page .product-page-row .product-page-details .btn-cart {
  background-color: #17202A;
  color: #fff;
  padding: 10px 30px;
  border-radius: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
.product-page .product-page-row .product-page-details .btn-cart:hover {
  background-color: #050709;
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .product-page .product-page-row {
    flex-direction: column;
    gap: 0;
  }
  .product-page .product-page-image, .product-page .product-page-details {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}

.cart-page {
  padding: 20px 20px;
  background: #fafafa;
}
.cart-page .cart-table {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.cart-page .table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.cart-page .table thead {
  background: #17202A;
  color: #fff;
}
.cart-page .table thead th {
  padding: 15px;
  font-weight: 500;
  font-size: 20px;
}
.cart-page .table tbody tr td {
  padding: 15px;
  font-weight: 500;
  font-size: 18px;
}
.cart-page .table tbody tr td .cart-item-title {
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: none;
  color: #17202A;
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart-page .table tbody tr td .cart-item-title img {
  width: 50px;
}
.cart-page .table tbody .cart-total td {
  font-size: 20px;
  font-weight: 500;
  color: #17202A;
}
.cart-page .cart-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cart-page .cart-actions .btn {
  flex: 1;
  padding: 15px 0;
  border-radius: 300px;
  text-align: center;
  font-size: 18px;
}
.cart-page .cart-actions .btn-primary {
  background: #17202A;
  color: #fff;
  border: none;
}
.cart-page .cart-actions .btn-primary:hover {
  background: #050709;
  scale: 1.02;
}

.product-box {
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 8px 40px 0 rgba(49, 32, 138, 0.05);
  text-align: center;
  max-width: 270px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.product-box:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
.product-box .image {
  background: #f6f7fb;
  height: 230px;
  width: 270px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.product-box .product-title {
  font-size: 20px;
  font-weight: 700;
  color: #0c5a61;
  margin-bottom: 10px;
}
.product-box .color-plateletes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}
.product-box .color-plateletes .color-platelete {
  width: 30px;
  height: 15px;
  border-radius: 30px;
  background: #000;
}
.product-box .color-plateletes .color-platelete.white-color {
  background: #ffffff;
  border: 2px solid #474747;
}
.product-box .product-category {
  color: #0c5a61;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 20px;
}
.product-box .product-price {
  font-size: 20px;
  font-weight: 700;
  color: #0c5a61;
  margin-bottom: 20px;
}

.pop-up {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 11;
}
.pop-up .pop-up-box {
  background: rgba(255, 255, 255, 0.2);
  padding: 100px;
  text-align: center;
  border-radius: 100px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0;
  transform: scale(0.5);
  animation: zoom-in-out 0.6s forwards;
}
.pop-up .pop-up-box .pop-up-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 0.5px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.pop-up .pop-up-box .pop-up-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.pop-up .pop-up-box .pop-up-actions .btn {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 30px;
  transition: background 0.3s ease, transform 0.3s ease;
}
.pop-up .pop-up-box .pop-up-actions .btn.btn-outline {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #17202A;
  color: #17202A;
}
.pop-up .pop-up-box .pop-up-actions .btn.btn-outline:hover {
  background: #17202A;
  color: #fff;
}
.pop-up .pop-up-box .pop-up-actions .btn.btn-primary {
  background-color: #17202A;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.pop-up .pop-up-box .pop-up-actions .btn.btn-primary:hover {
  background-color: #2C3E50;
  transform: scale(1.05);
}

@keyframes zoom-in-out {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  40% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
