.terms-page
  padding: 30px

.terms-section
  padding: 30px 85px
  background-color: #ffffff
  border-radius: 8px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
  max-width: 800px
  margin: 0 auto
  position: relative

.section-title
  font-size: 2rem
  font-weight: 700
  margin-bottom: 20px
  text-align: center

.terms-content
  p
    font-size: 1rem
    margin-bottom: 1.5rem
