.home-header
    background: linear-gradient(to bottom, #17202A, #2C3E50 )
    padding:  100px 25px 120px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    border-radius: 0 0 30% 30%
    

    .home-header-text
        text-align: center
        color: #fff
        .title
            font-size: 50px
            font-weight: 700
            .tagline
                font-size: 20px
                font-weight: 300

    .home-header-search
        margin-top: 20px
        input
            width: 600px
            max-width: 100%
            border-radius: 300px
            padding: 15px 20px
            text-align: center
            border: 2x solid $primary
            &focus
                outline: none


            