* 
    margin: 0
    padding: 0
    box-sizing: border-box

body
  font-family: "Bebas Neue", sans-serif

.btn
  padding: 10px 30px
  border-radius: 300px
  border: none
  outline: none
  cursor: pointer
  transition: all 0.3s ease-in-out

  &:hover
    transform: scale(1.1) // Zoom in by 10%

  @media (max-width: 600px)
    padding: 5px 15px

.btn-primary
  background: $primary
  color: #fff
  &:hover
    background: darken($primary, 10%)

.btn-black
  width: 100%

.admin-main
  margin-left: $nav-width
  padding: 40px 25px

  .page-title
    color: $primary
    font-size: 24px
    margin-bottom: 20px
    font-weight: 600